docs/xml-schemas/gal_utc_model.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="boost_serialization">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GNSS-SDR_gal_utc_model">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="A0_6"/>
              <xs:element type="xs:float" name="A1_6"/>
              <xs:element type="xs:float" name="Delta_tLS_6"/>
              <xs:element type="xs:float" name="t0t_6"/>
              <xs:element type="xs:float" name="WNot_6"/>
              <xs:element type="xs:float" name="WN_LSF_6"/>
              <xs:element type="xs:float" name="DN_6"/>
              <xs:element type="xs:float" name="Delta_tLSF_6"/>
              <xs:element type="xs:byte" name="flag_utc_model"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="class_id"/>
            <xs:attribute type="xs:byte" name="tracking_level"/>
            <xs:attribute type="xs:byte" name="version"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="signature"/>
      <xs:attribute type="xs:byte" name="version"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
