docs/xml-schemas/gal_iono_model.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- SPDX-License-Identifier: BSD-3-Clause -->
  <!-- SPDX-FileCopyrightText: 2018-2021 Carles Fernandez-Prades <carles.fernandez@cttc.es> -->
  <xs:element name="boost_serialization">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GNSS-SDR_gal_iono_model">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="ai0"/>
              <xs:element type="xs:float" name="ai1"/>
              <xs:element type="xs:float" name="ai2"/>
              <xs:element type="xs:int" name="tow"/>
              <xs:element type="xs:short" name="WN"/>
              <xs:element type="xs:byte" name="Region1_flag"/>
              <xs:element type="xs:byte" name="Region2_flag"/>
              <xs:element type="xs:byte" name="Region3_flag"/>
              <xs:element type="xs:byte" name="Region4_flag"/>
              <xs:element type="xs:byte" name="Region5_flag"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="class_id"/>
            <xs:attribute type="xs:byte" name="tracking_level"/>
            <xs:attribute type="xs:byte" name="version"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="signature"/>
      <xs:attribute type="xs:byte" name="version"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
