docs/xml-schemas/iono_model.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- SPDX-License-Identifier: BSD-3-Clause -->
  <!-- SPDX-FileCopyrightText: 2018-2021 Carles Fernandez-Prades <carles.fernandez@cttc.es> -->
  <xs:element name="boost_serialization">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GNSS-SDR_iono_model">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="alpha0"/>
              <xs:element type="xs:float" name="alpha1"/>
              <xs:element type="xs:float" name="alpha2"/>
              <xs:element type="xs:float" name="alpha3"/>
              <xs:element type="xs:float" name="beta0"/>
              <xs:element type="xs:float" name="beta1"/>
              <xs:element type="xs:float" name="beta2"/>
              <xs:element type="xs:float" name="beta3"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="class_id"/>
            <xs:attribute type="xs:byte" name="tracking_level"/>
            <xs:attribute type="xs:byte" name="version"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="signature"/>
      <xs:attribute type="xs:byte" name="version"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
