docs/xml-schemas/utc_model.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="boost_serialization">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GNSS-SDR_utc_model">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="valid"/>
              <xs:element type="xs:float" name="d_A1"/>
              <xs:element type="xs:float" name="d_A0"/>
              <xs:element type="xs:float" name="d_t_OT"/>
              <xs:element type="xs:short" name="i_WN_T"/>
              <xs:element type="xs:float" name="d_DeltaT_LS"/>
              <xs:element type="xs:short" name="i_WN_LSF"/>
              <xs:element type="xs:byte" name="i_DN"/>
              <xs:element type="xs:float" name="d_DeltaT_LSF"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="class_id"/>
            <xs:attribute type="xs:byte" name="tracking_level"/>
            <xs:attribute type="xs:byte" name="version"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="signature"/>
      <xs:attribute type="xs:byte" name="version"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
